$main_color_green = #00b274 // rgb(0, 178, 116)
$color_green_light = #E2F5E6 // rgb(0, 178, 116)
$main_color_blue = #305eac // rgb(48, 94, 172)
$mid_gray = #60626E
$dark = #3D3D3D
$dark_grey = #cecdcd
$lightest_grey=#F4F4F4
$light_grey_opacity= #cfcfcf80
$light_grey= #cfcfcf
$white = #FFF
$light_red = #EF5858
$yelllow = #FFC700